/*-----------------------------------------------------------------------------
  A limechat theme by Tad Thorley
-----------------------------------------------------------------------------*/

html {
  font-family: "Lucida Grande", sans-serif;
  font-size: 9pt;
  background-color: #FFF;
  color: black;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

body { margin: 0; padding: 0; }

/* the html tag has these classes and attributes too */
body.normal { color: #333; margin-top: 20px;}
body[type=channel] {}
body[type=talk] {}
body[type=console] {}
body[channelname=#limechat] {}

hr { margin: 0.5em 2em; }
a {
  color: #1A5B93;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* lines */
.line { 
  border-left: 5px solid #CCC; 
  border-right: 5px solid #CCC;
  padding: 0;
  margin: 0;
}
.line[alternate=even] {}
.line[alternate=odd] {}
.line[type=action] {
  font-style: italic;
  color: #666;
}
.line[type=action] .sender:before {
  content: ""
}
.line[highlight=true] {
  border-left: 5px solid #666;
  border-right: 5px solid #666;
}
.message {
  margin-left: 98px;
  margin-right: 50px;
  display: block;
}
.url { word-break: break-all; }
.address { 
  text-decoration: underline; 
  word-break: break-all; 
}
.highlight {
  font-weight: bold;
  color: #1A5B93;
}
.event {
  color: #999;
}
.event .message {
  color: #999;
}
.time {
  float: right;
  text-align: left;
  width: 40px;
	color: #666;
}
.duptime {
  display: none;
}
/* nickname for text messages */
body.normal .sender {
  overflow: hidden;
  word-wrap: normal;
  width: 85px;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  text-align: right;
  font-weight: bold;
}
.sender[type=myself] {
  color: #F18909;
}
.sender[type=normal] { 
  color: #679F41;
}

body.console {
  font-family: "Meslo", "Menlo", "Courier", monospace;
  padding: 0px 12px;
  background-color: #222;
}
body.console a {
  color: #4785C2;
}
body.console .line {
  border: none;
  padding: 0;
}
body.console .line[highlight=true] {
  color: #FFD36A  ;
}
body.console .place {
  color: #C28547;
}
body.console .sender {
  padding: 0;
  margin-right: 0.5em;
  color: #C2C247;
}
body.console .message {
  margin: 0;
  padding: 0;
  display: inline;
  color: #47C247;
}
body.console .event{
  padding: 0;
}

#topic {
  background-color: #EEE;
  border-bottom: 1px solid #999;
  top-color: #FFF;
  bottom-color: #EEE;
  padding: 2px 0;
  margin: 0;
  height: 16px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  position: fixed;
  top: 0;
  text-align: center;
}